@model ChangePassword

@{
    ViewData["Title"] = PropertyDictionary.ChangePassword;
}
@section Breadcrumb {
    <li itemscope="" itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>

}
@section Styles {
    <partial name="_JqueryValidation" />
}
<!-- /account heading -->
<div class="account-content-layer layer-style">
    <h3> تغییر رمز عبور  </h3>
    <div class="inner">
        <form class="form-layer-style" asp-action="ChangePassword" asp-controller="Profile" asp-area="UserPanel">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label>
                            <i class="icon-lock"></i>
                            @Html.DisplayNameFor(a => a.OldPassword)
                        </label>
                        <input asp-for="OldPassword" type="password">
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label>
                            <i class="icon-lock"></i>
                            @Html.DisplayNameFor(a => a.NewPassword)

                        </label>
                        <input asp-for="NewPassword" type="password">
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label>
                            <i class="icon-lock"></i>
                            @Html.DisplayNameFor(a => a.ReNewPassword)

                        </label>
                        <input asp-for="ReNewPassword" type="password">
                        <span asp-validation-for="ReNewPassword"></span>
                    </div>
                    <!-- /input -->
                </div>



                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button class="submit-button btn-primary" type="submit">
                        <span>
                            @PropertyDictionary.EditProfile
                        </span>
                    </button>
                </div>

            </div>

        </form>
    </div>
</div>

