@model UserPanelUserDataViewModel
@{
    ViewData["Title"] = PropertyDictionary.EditProfile;
}
@section Breadcrumb {
    <li itemscope="" itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>

}

@section Styles {
    <partial name="_JqueryValidation" />
}

@section Scripts {
}


<div class="account-content-layer layer-style">
    <h3> @ViewData["Title"] </h3>
    <div class="inner">
        <form class="form-layer-style"
              asp-area="UserPanel"
              asp-controller="Profile"
              asp-action="EditProfile">
            @Html.HiddenFor(a => a.Cities)
            @Html.HiddenFor(a => a.Countries)

            <div class="row">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-user-shape"></i>
                                @Html.DisplayNameFor(a => a.FirstName)
                            </label>
                            <input asp-for="FirstName" type="text">
                            <span asp-validation-for="FirstName"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-user-shape"></i>
                                @Html.DisplayNameFor(a => a.LastName)
                            </label>
                            <input asp-for="LastName" type="text">
                            <span asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-work"></i>
                                @Html.DisplayNameFor(a => a.Company)
                            </label>
                            <input asp-for="Company" type="text">
                            <span asp-validation-for="Company"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-briefcase"></i>
                                @Html.DisplayNameFor(a => a.JobTitle)
                            </label>
                            <input asp-for="JobTitle" type="text">
                            <span asp-validation-for="JobTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-mobile-phone"></i>
                                @Html.DisplayNameFor(a => a.Mobile)
                                @if (Model.IsMobileConfirmed)
                                {
                                    <span style="color:gray" class="pull-left disabled">
                                        تایید شده
                                        <i class="icon-check" style="color:green"></i>
                                    </span>
                                }
                                else
                                {
                                    <span style="color:gray" class="pull-left disabled">
                                        <a> ارسال مجدد لینک فعال سازی</a>
                                    </span>
                                }
                            </label>
                            @if (Model.CanEditMobile)
                            {
                                <input asp-for="Mobile" type="text">
                            }
                            else
                            {
                                <input asp-for="Mobile" type="text" readonly>
                            }
                            <span asp-validation-for="Mobile"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-mail"></i>
                                @Html.DisplayNameFor(a => a.Email)
                                @if (Model.IsEmailConfirmed)
                                {
                                    <span style="color:gray" class="pull-left disabled">
                                        تایید شده
                                        <i class="icon-check" style="color:green"></i>
                                    </span>
                                }
                                else
                                {
                                    <span style="color:gray" class="pull-left disabled">
                                        <a> ارسال مجدد لینک فعال سازی</a>
                                    </span>
                                }
                            </label>
                            @if (Model.CanEditEmail)
                            {
                                <input asp-for="Email" type="text">
                            }
                            else
                            {
                                <input asp-for="Email" type="text" readonly>
                            }
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-layer">
                            <label>
                                <i class="icon-date"></i>
                                @Html.DisplayNameFor(a => a.BirthDate)
                            </label>
                            <input asp-for="BirthDate" type="text" class="form-date-picker datePicker">
                            <span asp-validation-for="BirthDate"></span>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="select-layer">
                            <label>
                                <i class="icon-maps-and-flags"></i>
                                @Html.DisplayNameFor(a => a.CountryId)
                            </label>
                            <select asp-for="CountryId"
                                    onchange="GetCities(this)"
                                    data-url="@Url.Action("GetCities","Profile", new {area = "UserPanel"})">
                                <option value="">@PropertyDictionary.DoChose</option>
                                @if (Model.Countries != null && Model.Countries.Any())
                                {
                                    foreach (var country in Model.Countries)
                                    {
                                        <option value="@country.Id">@country.Title</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="CountryId"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="select-layer">
                            <label>
                                <i class="icon-maps-and-flags"></i>
                                @Html.DisplayNameFor(a => a.CityId)
                            </label>
                            <select asp-for="CityId">
                                <option value="">@PropertyDictionary.DoChose</option>
                                @if (Model.Cities != null && Model.Cities.Any())
                                {
                                    foreach (var city in Model.Cities)
                                    {
                                        <option value="@city.Id">@city.Title</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="CityId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="textarea-layer">
                            <label>
                                <i class="icon-document"></i>
                                @Html.DisplayNameFor(a => a.AboutMe)
                            </label>
                            <textarea asp-for="AboutMe"></textarea>
                            <span asp-validation-for="AboutMe"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="radio-selected">
                            <span>
                                @Html.DisplayNameFor(a => a.GetNewsLetter)
                            </span>
                            <div class="select">
                                <input asp-for="GetNewsLetter" type="checkbox"  id="suggest-1" >
                                <label for="suggest-1"></label>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button class="submit-button btn-primary" type="submit">
                        <span>
                            @PropertyDictionary.EditProfile
                        </span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>






@* <div class="clearfix visible-md-block visible-lg-block"></div> *@
