@model LoginViewModel

@{
    ViewData["Title"] = PropertyDictionary.Login;
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="css/user.css">
}
@section Header {
    <partial name="_Header" />
}
<div class="user-page-style">
    <div class="breadcumb-layer">
        <div class="container">
            <ul class="breadcrumb">
                <li itemscope="" itemprop="itemListElement">
                    <a href="/"
                       itemprop="item">
                        <span itemprop="name">
                            @PropertyDictionary.LandingPage
                        </span>
                    </a>
                </li>
                <li itemscope="" itemprop="itemListElement">
                    <a asp-area=""
                       asp-controller="Account"
                       asp-action="Login"
                       itemprop="item">
                        <span itemprop="name">
                            @PropertyDictionary.Login
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="user-page">

        <div class="container">

            <div class="row">

                <div class="col-md-7 col-sm-12 col-xs-12 pull-left">

                    <div class="inner">
                        <div class="description">
                            <p>لطفا به هنگام ورود به حساب کاربری به موارد زیر توجه فرمایید </p>
                            <ul>
                                <li>در صورتی که برای اولین بار به حساب کاربری خود وارد می شوید ، پس از ورود به سامانه ، جهت حفظ امنیت بیشتر ، لطفا رمز عبور خود را تغییر دهید.</li>
                                <li>پس از ورود به حساب کاربری ، جهت حفظ امنیت ، لطفا از حساب کاربری خود خارج شوید.</li>
                                <li>در صورتی که رمز عبور خود را فراموش کرده اید ، می توانید از طریق شماره موبایلتان ، رمز عبور جدید را دریافت نمایید.</li>
                            </ul>

                            <div class="register-link">
                                <i class="icon-add-user"></i> در صورتی که در سایت ، عضو نیستید ، ابتدا <a href=""> ثبت نام </a> کنید
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 pull-right">

                    <form asp-area=""
                          asp-controller="Account"
                          asp-action="Login"
                          method="post">
                          @Html.HiddenFor(a=>a.ReturnUrl)
                        <div class="inner">

                            <h2>
                                <i class="icon-three-dots"></i>
                                @PropertyDictionary.LoginToAccount
                            </h2>

                            <div class="input-layer mt-50">
                                <span>
                                    <i class="icon-mail-envelope"></i>
                                    @Html.DisplayNameFor(a => a.EmailOrMobile)
                                </span>
                                <input asp-for="EmailOrMobile" >
                            </div>
                            <span asp-validation-for="EmailOrMobile" class="validation-error"></span>

                            <div class="input-layer mt-50">
                                <span>
                                    <i class="icon-lock"></i>
                                    @Html.DisplayNameFor(a => a.Password)
                                </span>
                                <input asp-for="Password" type="password">
                            </div>
                            <span asp-validation-for="Password" class="validation-error"></span>


                            <div class="captcha-layer">
                                @* Captcha Code should apear here *@
                            </div>

                            <div class="checkbox mt-50">
                                <input asp-for="RememberMe" type="checkbox" id="remember-me">
                                <label for="remember-me">
                                    @Html.DisplayNameFor(a => a.RememberMe)
                                </label>
                            </div>

                            <div class="link">
                                <a asp-area=""
                                   asp-controller="Account"
                                   asp-action="ForgotPassword">
                                    @PropertyDictionary.IHaveForgotPassword
                                </a>
                            </div>

                            <button class="btn btn-primary"
                                    type="submit">
                                @PropertyDictionary.LoginToAccount
                            </button>

                        </div>

                    </form>

                    @* <div class="login-with-social shadow-style">
                        <span>ورود با سایر حساب های کاربری </span>
                        <a href="" class="shadow-style"><i class="icon-twitter"></i></a>
                        <a href="" class="shadow-style"><i class="icon-github"></i></a>
                        <a href="" class="shadow-style"><i class="icon-google-plus"></i></a>
                    </div> *@

                </div>

            </div>


        </div>

    </div>

</div>



@section Scripts {
    <partial name="_JqueryValidation" />
}