@model ResetPasswordViewModel

@{
    ViewData["Title"] = PropertyDictionary.Register;
}
@section Header {
    <partial name="_Header" />
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/css/user.css">
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul class="breadcrumb">
                <li itemscope=""
                    itemprop="itemListElement">
                    <a href="/"
                       itemprop="item">
                        <span itemprop="name">
                            @PropertyDictionary.LandingPage
                        </span>
                    </a>
                </li>
                <li itemscope=""
                    itemprop="itemListElement">
                    <a asp-area=""
                       asp-controller="Account"
                       asp-action="Login"
                       itemprop="item">
                        <span itemprop="name">
                            @PropertyDictionary.Login
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="user-page">

        <div class="container">

            <div class="row">

                <div class="col-md-5 col-md-offset-3 col-sm-12 col-xs-12">
                    <form asp-area=""
                          asp-controller="Account"
                          asp-action="ResetPassword"
                          method="post"
                          class="shadow-style">
                        <div class="inner">
                            <h2>
                                <i class="icon-three-dots"></i>
                                @PropertyDictionary.ResetPassword
                            </h2>
                            @Html.HiddenFor(a => a.EmailOrMobile)
                            @Html.HiddenFor(a => a.IsForgotPassword)

                            @if (!Model.IsForgotPassword)
                            {
                                <div class="input-layer mt-50">
                                    <span>
                                        <i class="icon-lock-2"></i>
                                        @Html.DisplayNameFor(a => a.OldPassword)

                                    </span>
                                    <input asp-for="OldPassword" type="password">
                                </div>
                                <span asp-validation-for="OldPassword" class="validation-error"></span>

                            }
                            <div class="input-layer mt-50">
                                <span>
                                    <i class="icon-lock-2"></i>
                                    @Html.DisplayNameFor(a => a.NewPassword)
                                </span>
                                <input asp-for="NewPassword" type="password">
                            </div>
                            <span asp-validation-for="NewPassword" class="validation-error"></span>

                            <div class="input-layer mt-50">
                                <span>
                                    <i class="icon-lock-2"></i>
                                    @Html.DisplayNameFor(a => a.ReNewPassword)
                                </span>
                                <input asp-for="ReNewPassword" type="password">
                            </div>
                            <span asp-validation-for="ReNewPassword" class="validation-error"></span>

                            <div class="captcha-layer">
                                @* Captcha Code should apear here *@
                            </div>

                            <button class="btn btn-primary"
                                    type="submit">
                                @PropertyDictionary.GnSubmit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_JqueryValidation" />
}